* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // for testing purpose
  border: 1px red solid;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $default-font-size
}

.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}