* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* for debugging purposes */
  border: 1px red solid;
}

.container {
  width: 80%;
  margin: auto;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.flex {
  display: flex;
}

.hero-box {
  height: 70vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text-main {
  display: block;
}

.hero-text-sub {
  display: block;
}

.benefit-box-upper {
  justify-content: space-around;
}

.benefit-box-lower {
  justify-content: space-around;
}

.benefit-card {
  text-align: center;
  flex-basis: 30%;
  padding: 10px 10px 120px 10px;
}

.newsletter {
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.footer {
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.services {
  justify-content: space-between;
  padding: 50px;
}

.services-description {
  flex: 1;
}

.services-form {
  flex: 1;
  text-align: center;
  padding-top: 30px;
}

.services-card {
  padding: 30px;
}

/* MEDIA QUERIES */
/* min-width: 480px	Mobile-landscape (and larger)
min-width: 768px	Tablet-portrait (and larger)
min-width: 992px	Tablet-landscape (and larger)
min-width: 1200px	Laptops (and langer) */

@media only screen and (min-width: 480px) {
  * {
    border: 1px blue solid;
  }
}

@media only screen and (min-width: 768px) {
  * {
    border: 1px orange solid;
  }
}

@media only screen and (min-width: 992px) {
  * {
    border: 1px green solid;
  }
}

@media only screen and (min-width: 1200px) {
  * {
    border: 1px purple solid;
  }
}