* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* for debugging purposes */
  border: 1px red solid;

}

body {
  /* for debugging purposes */
  /* border: 1px red solid; */
}

.container {
  width: 80%;
  margin: auto;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.flex {
  display: flex;
}

.hero-box {
  height: 70vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text-main {
  display: block;
}

.hero-text-sub {
  display: block;
}

.benefit-box-lower {
  justify-content: space-around;
}

.benefit-card {
  text-align: center;
  flex-basis: 33%;
  padding: 10px;
}

.newsletter {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.footer {
  height: 6vh;
  align-items: center;
  justify-content: center;
}