# anything node modules two directories deep
*/*/node_modules
*/node_modules

# block all credentials
*/credentials.json
*/*/credentials.json

# block large json file
kapil-gupta-tweets/preprocess/data/parsed.json
kapil-gupta-tweets/preprocess/data/raw.jsonl
