* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // for testing purpose
  // border: 1px red solid;

  // @include respond(first) {
  //   border: 1px blue solid;
  // }
}

html {
  font-size: 62.5%;
  
  @include respond(first) {
    font-size: 68.75%; // 11px
  }

  @include respond(second) {
    font-size: 75%; // 12px
  }

}

body {
  font-size: $default-font-size
}

.container {
  width: 80%;
  margin: auto;

  @include respond(third) {
    width: 80rem; // completely arbitrary, but the transition is smooth and it looks good!
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}