.header {
  &__nav-links {
    list-style: none;
  }

  &__nav-links-item {
    display: inline-block;
  }

  &__navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }

  &__hero-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30rem 5rem;
  }

  &__main-hero-text {
    font-size: 4rem;
  }

  &__sub-hero-text {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
