.newsletter {
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  text-align: center;

  &__text {
    font-size: $default-font-size;
    padding-bottom: 1rem;
  }

  &__subscribe-button {
    // todo
    text-decoration: none;
  }
}
