* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px red solid; */
}

/*
black: hsl(0, 0%, 15%);
white: #fff
yellow: hsl(53, 100%, 50%);
*/

html,
input[type="submit"] {
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

html {
  font-size: 62.5%;
}

.input-form {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: stretch;
}

.input-form__form {
  border: 1px hsl(0, 0%, 15%) solid;
  padding: 0 2rem 2rem 2rem;
  margin-top: 2rem;
  border-radius: 5px;
}

.container {
  max-width: 400px;
  margin: auto;
}

.input-form__title,
.result__title {
  padding: 25px;
  background: hsl(0, 0%, 15%);
  color: white;
  text-align: center;
  width: 100%;
  /* font-weight: 700; */
  font-size: 3.5rem;
  border-radius: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.input-form__form-item {
  margin-top: 2rem;
}

.input-form__text-input {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px grey solid;
}

.input-form__text-input:focus {
  border: 1px hsl(0, 0%, 15%) solid;
  box-shadow: 0px 0px 3px 0px hsl(53, 100%, 50%);
}

/* input[type=text]{
  border-radius: 4px;
} */

.input-form__submit,
.result__back-button {
  margin-top: 3rem;
  width: 100%;
  font-size: 2rem;
  padding: 1rem 0;
  transition: 0.3s;

  background: hsl(0, 0%, 15%);
  color: white;
  text-decoration: none;

  border-radius: 5px;
}

.input-form__submit:hover {
  color: hsl(53, 100%, 50%);
  background: hsl(0, 0%, 15%);
}

.result {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.result__optimize-text-block {
  padding-top: 5rem;
  justify-content: space-between;
}

.result__optimize-before,
.result__optimize-after,
.result__gas-used-left,
.result__gas-used-right,
.input-form__label {
  font-size: 1.75rem;
  color: hsl(44, 0%, 50%);
}

.result__optimize-number-left,
.result__optimize-number-right {
  font-size: 5rem;
  font-weight: 700;
  color: hsl(0, 0%, 15%);
}

.result__optimize-after,
.result__optimize-number-right,
.result__gas-used-right {
  text-align: right;
}

.result__back-button {
  margin-top: 5rem;
  color: hsl(0, 0%, 15%);
  background: white;
  border: 1px hsl(0, 0%, 15%) solid;
  text-align: center;
}

.result__back-button:hover {
  border: 1px hsl(53, 100%, 50%) solid;
}