* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border: 1px red solid; */
}

html {
  font-size: 62.5%
}

.input-form {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: stretch;
}

.container {
  max-width: 400px;
  margin: auto;
}

.input-form__title,
.result__title {
  padding: 30px;
  background: black;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.input-form__form-item {
  margin-top: 2rem;
}

.input-form__label,
.input-form__text-input {
  font-size: 2rem;
  width: 100%;
}

.input-form__text-input {
  padding: 0.5rem 0;
}

.input-form__submit {
  margin-top: 3rem;
  width: 100%;
  font-size: 2rem;
  padding: 1rem 0;
}

.input-form__submit:hover {
  color: white;
  background: black;
}

/* .result {
  height: 100vh;
  align-items: stretch;
  border: 1px red solid;
} */

.result {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.result__optimize-text-block {
  padding-top: 5rem;
  justify-content: space-between;
}

.result__optimize-before,
.result__optimize-after {
  font-size: 2rem;
}


.result__gas-used-left,
.result__gas-used-right {
  font-size: 2rem;
}

.result__optimize-number-left,
.result__optimize-number-right {
  font-size: 5rem;
  font-weight: 700;
}

.result__optimize-after,
.result__optimize-number-right,
.result__gas-used-right {
  text-align: right;
}