// number of column in a row
$column: 12;

@mixin respond($size) {
  @if $size == xs {
    @media (min-width: 0px) {
      @content;
    }
  } @else if $size == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

$sizes-up: xs, sm, md, lg, xl;
@each $size-up in $sizes-up {
  @include respond(#{$size-up}) {

    // This will make all column default to margin-left: 0 unless
    // specified otherwise. For .offset purposes
    .row > * {
      margin-left: 0;
    }

    @for $i from 1 through $column {
      @if $size-up == xs {
        .col-#{$i} {
          flex-basis: 100% / $column * $i;
        }
      }

      .col-#{$size-up}-#{$i} {
        flex-basis: 100% / $column * $i;
      }

      .offset-#{$size-up}-#{$i} {
        margin-left: 100% / $column * $i;
      }
    }
  }
}