// number of column in a row
$column: 12;

@mixin respond($size) {
  @if $size == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

// reverse
@for $negativeI from ($column * -1) through -1 {
  $i: $negativeI * -1;
  
  .col-offset-#{$i} {
    margin-left: 100% / $column * $i;
  }

  .col-#{$i},
  .col-xs-#{$i} {
    flex-basis: 100% / $column * $i;
    border: 1px solid yellow;
  }

  .col-sm-#{$i} {
    @include respond(sm) {
      flex-basis: 100% / $column * $i;
      border: 1px solid blue;
    }
  }

  .col-md-#{$i} {
    @include respond(md) {
      flex-basis: 100% / $column * $i;
      border: 1px solid pink;
    }
  }

  .col-lg-#{$i} {
    @include respond(lg) {
      flex-basis: 100% / $column * $i;
      border: 1px solid purple;
    }
  }

  .col-xl-#{$i} {
    @include respond(xl) {
      flex-basis: 100% / $column * $i;
      border: 1px solid red;
    }
  }
}
