.container {
  // this keeps the side margin consistent, it's not
  // dependent on the viewport width
  width: calc(100% - 1.5rem);
  margin: auto;
  max-width: 1140px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-one {
  flex: 1;
}

.flex-two {
  flex: 2;
}

.flex-three {
  flex: 3;
}

.flex-four {
  flex: 4;
}