@mixin anchor-button {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
}

@mixin button-cta {
  color: $grey-900;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: $primary-400;
  text-decoration: none;
  font-weight: 900;
  transition: 300ms;

  &:hover {
    color: $primary-400;
    background: $grey-900;
  }
}

@mixin button {
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  background: $grey-900;
  text-decoration: none;
  font-weight: 500;
  transition: 300ms;

  &:hover {
    color: $primary-400;
    background: $grey-950;
  }
}

@mixin grey-border {
  border: 1px $grey-400 solid;
  border-radius: 5px;
}

// for debugging purposes!
@mixin red-border {
  border: 1px red solid;
}

@mixin center-flex {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@mixin underline-link {
  color: $grey-900;
  text-decoration: none;
  border-bottom: 3px solid $grey-900;
  transition: 300ms;

  &:hover {
    background: $primary-400;
  }
}
