$primary-950: hsl(53, 80%, 10%);
$primary-900: hsl(53, 80%, 20%);
$primary-800: hsl(53, 80%, 25%);
$primary-700: hsl(53, 80%, 30%);
$primary-600: hsl(53, 80%, 40%);
$primary-500: hsl(53, 80%, 50%);
$primary-400: hsl(53, 80%, 60%);
$primary-300: hsl(53, 80%, 70%);
$primary-200: hsl(53, 80%, 80%);
$primary-100: hsl(53, 80%, 90%);

$grey-950: hsl(0, 0%, 10%);
$grey-900: hsl(0, 0%, 20%);
$grey-800: hsl(0, 0%, 25%);
$grey-700: hsl(0, 0%, 30%);
$grey-600: hsl(0, 0%, 40%);
$grey-500: hsl(0, 0%, 50%);
$grey-400: hsl(0, 0%, 60%);
$grey-300: hsl(0, 0%, 70%);
$grey-200: hsl(0, 0%, 80%);
$grey-100: hsl(0, 0%, 90%);
$grey-50: hsl(0, 0%, 95%);

$container-spacing: 1.5rem;
$fab-size: 65px;