$red-900: hsl(0, 80%, 20%);
$red-800: hsl(0, 80%, 25%);
$red-700: hsl(0, 80%, 30%);
$red-600: hsl(0, 80%, 40%);
$red-500: hsl(0, 80%, 50%);
$red-400: hsl(0, 80%, 60%);
$red-300: hsl(0, 80%, 70%);
$red-200: hsl(0, 80%, 80%);
$red-100: hsl(0, 80%, 90%);

$grey-900: hsl(0, 0%, 20%);
$grey-800: hsl(0, 0%, 25%);
$grey-700: hsl(0, 0%, 30%);
$grey-600: hsl(0, 0%, 40%);
$grey-500: hsl(0, 0%, 50%);
$grey-400: hsl(0, 0%, 60%);
$grey-300: hsl(0, 0%, 70%);
$grey-200: hsl(0, 0%, 85%);
$grey-100: hsl(0, 0%, 95%);