.benefit {
  justify-content: center;
  text-align: center;

  &__benefit-box {
    width: 100%;
    padding: 2rem 0;
  }

  &__main-text {
    font-size: $default-font-size;
    font-weight: 700;
  }

  &__sub-text {
    font-size: $default-font-size;
  }
}
