* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  color: #333;
  line-height: 120%;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: left;
}

h2 {
  font-weight: 400;
  /* font-style: italic; */
  font-size: 25px;
  text-align: left;
  color: #555;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background: #333;
}

a:hover {
  background: #222;
}

.container {
  width: 500px;
  margin: 100px 0 0 150px;
}
