* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px red solid; }
  @media (max-width: 400px) {
    * {
      border: 1px blue solid; } }

html {
  font-size: 62.5%; }
  @media (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem; }

.container {
  width: 80%;
  margin: auto; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.header__nav-links {
  list-style: none; }

.header__nav-links-item {
  display: inline-block; }

.header__navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0; }

.header__hero-box {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30rem 5rem; }

.header__main-hero-text {
  display: block;
  font-size: 4rem; }

.header__sub-hero-text {
  display: block;
  font-size: 2.5rem;
  font-weight: 500; }

.newsletter {
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0; }
  .newsletter__text {
    font-size: 2rem; }
  .newsletter__subscribe-button {
    text-decoration: none; }

.benefit {
  justify-content: center;
  text-align: center; }
  .benefit__benefit-box {
    width: 100%;
    padding: 3rem; }
  .benefit__main-text {
    font-size: 2rem;
    font-weight: 700; }
  .benefit__sub-text {
    font-size: 1.6rem; }

.footer {
  justify-content: center;
  align-items: center;
  padding: 2rem; }
