/* Generic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* for debugging purposes */
  border: 1px red solid; }

.container {
  width: 80%;
  margin: auto; }

.nav-link ul {
  list-style-type: none; }

.nav-link li {
  display: inline; }

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 5px 0; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.footer {
  align-items: center;
  justify-content: center;
  padding: 50px; }

/* Home page */
.hero-box {
  height: 70vh;
  justify-content: center;
  align-items: center;
  text-align: center; }

.hero-text-main {
  display: block; }

.hero-text-sub {
  display: block; }

.benefit-box-upper {
  justify-content: space-around; }

.benefit-box-lower {
  justify-content: space-around; }

.benefit-card {
  text-align: center;
  flex-basis: 30%;
  padding: 10px 10px 120px 10px; }

.newsletter {
  justify-content: space-around;
  align-items: center;
  padding: 30px 0; }

/* Services page */
.services {
  justify-content: space-between;
  padding: 50px; }

.services-description {
  flex: 1; }

.services-form {
  flex: 1;
  text-align: center;
  padding-top: 30px; }

.services-card {
  padding: 30px; }

/* Forms page */
.form {
  flex-direction: column;
  padding: 30px;
  width: 400px;
  align-items: center;
  justify-content: center; }

.form-name-email {
  flex-direction: column; }

.form-name,
.form-email,
.form-radio,
.form-select,
.form-textarea {
  margin-bottom: 15px; }

.form-submit {
  width: 30%; }

/* not working */
.form-radio input[type='radio'] {
  /* background: blue; */
  padding: 10px; }

/* The value 720px is arbitrary, it's the point
where my design breaks */
@media only screen and (max-width: 720px) {
  * {
    border: 1px purple solid; }
  .brand {
    flex-basis: 100%;
    text-align: center;
    padding: 10px; }
  .nav-link {
    flex-basis: 100%;
    justify-content: center; }
  .benefit-card {
    flex-basis: 70%; }
  .benefit-box-lower {
    display: none; }
  .footer {
    padding: 20px; }
  .newsletter-input {
    padding-top: 10px; }
  .services-card {
    padding: 10px; }
  .services {
    padding: 20px; }
  .services-description {
    flex-basis: 100%; } }
