* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (min-width: 400px) {
    html {
      font-size: 68.75%; } }
  @media (min-width: 800px) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.6rem; }

.container {
  width: 80%;
  margin: auto; }
  @media (min-width: 1200px) {
    .container {
      width: 80rem; } }

.flex {
  display: flex;
  flex-wrap: wrap; }

.header__navbar {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.2rem 0; }
  @media (min-width: 400px) {
    .header__navbar {
      justify-content: space-between; } }

.header__brand {
  display: block;
  font-size: 2.5rem;
  padding-bottom: 0.5rem; }

.header__nav-links {
  display: block;
  list-style: none; }

.header__nav-links-item {
  display: inline-block; }

.header__hero-box {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25rem 5rem; }

.header__main-hero-text {
  display: block;
  font-size: 2.5rem; }

.header__sub-hero-text {
  display: block;
  font-size: 1.5rem;
  font-weight: 500; }

.newsletter {
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  text-align: center; }
  .newsletter__text {
    font-size: 1.6rem;
    padding-bottom: 1rem; }
  .newsletter__subscribe-button {
    text-decoration: none; }

.benefit {
  justify-content: center;
  text-align: center; }
  .benefit__benefit-box {
    width: 100%;
    padding: 2rem 0; }
  .benefit__main-text {
    font-size: 1.6rem;
    font-weight: 700; }
  .benefit__sub-text {
    font-size: 1.6rem; }

.footer {
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.6rem; }
